<div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
             department Name :<br>
              <input type="text" name="departmentName" value="department Name">
              <br><br>
              
              <input type="submit" value="create dept">
            </form>
        </div>
    </div>