<div class="col-sm-8">    
        <div class="">
        <ol>
        <% departments.forEach(function(department) { %>
                <li>
                    <h4><a href="/hassan/department/<%= department.id %>"><%= department.departmentName %></a></h4>
                    
                     <a href="/hassan/department/<%= department.id %>/update">Edit  department</a> | <a href="/hassan/department/<%= department.id %>/delete">Delete department</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>