<div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single department</h1>
            
             <p><%= department.departmentName %></p>
          
             <a href="/hassan/department/<%= department.id %>/update">Edit  department</a> | <a href="/hassan/department/<%= department.id %>/delete">Delete department</a> 
        </div>
    </div>