 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/hassan/department/<%= department.id %>/update" method="post">
              department name:<br>
              <input type="text" name="departmentName" value="<%= department.departmentName %>">
              <br>
              <br><br>
             
              <input type="submit" value="Update">
            </form>
        </div>
    </div>