<div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
             profile Name :<br>
              <input type="text" name="profileName" value="profile Name">
              <br><br>
              
              <input type="submit" value="create dept">
            </form>
        </div>
    </div>