<div class="col-sm-8">    
        <div class="">
        <ol>
        <% profiles.forEach(function(profile) { %>
                <li>
                    <h4><a href="/hassan/profile/<%= profile.id %>"><%= profile.profileName %></a></h4>
                    
                     <a href="/hassan/profile/<%= profile.id %>/update">Edit  profile</a> | <a href="/hassan/profile/<%= profile.id %>/delete">Delete profile</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>