<div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single profile</h1>
            
             <p><%= profile.profileName %></p>
          
             <a href="/hassan/profile/<%= profile.id %>/update">Edit  profile</a> | <a href="/hassan/profile/<%= profile.id %>/delete">Delete profile</a> 
        </div>
    </div>