 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/hassan/profile/<%= profile.id %>/update" method="post">
              profile name:<br>
              <input type="text" name="profileName" value="<%= profile.profileName %>">
              <br>
              <br><br>
             
              <input type="submit" value="Update">
            </form>
        </div>
    </div>