<%- contentFor('main-content') %>

<!-- Write a logic that will dynamically change the content of this page based on controller parameters -->
<!-- for instance we know that the controller passes a variable called title -->
<!--Use this title to change the content of each page based on the route-->
<!--All content should be placed here for now-->
<!--Tomorrow we are going to implement a cleaner dynamic content pages-->
 
<!--This is an example of what you are expected to do here-->

<!--POST VIEW STARTS HERE -->
<% if (title == 'Create post') { %>
   <%- include ('../posts/create_post.ejs') %>
<% } else if (title == 'Delete Post') { %>
     
<% } else if (title == 'Update post') { %>
     <%- include ('../posts/update_post.ejs') %>
<% } else if (title == 'post Details') { %>
     <%- include ('../posts/post_detail.ejs') %>
<% } else if (title == 'post List') { %>
    <%- include ('../posts/post_list.ejs') %>
    <% } else if (title == 'user post dept') { %>
    <%- include ('../posts/user_post_dept.ejs') %>
     <% } else if (title == 'user post dept profile') { %>
    <%- include ('../posts/user_post_dept_profile.ejs') %>
<% } else { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1><%= title %></h1>
            <p>The main content of the page goes here</p>
        </div>
    </div>
<% } %>
<!--POST VIEW END HERE-->

<!--user VIEW STARTS HERE -->
<!--complete logic for user view-->
<% if (title == 'Create user') { %>

  <%- include ('../user/create_user.ejs') %>
<% } else if (title == 'Delete user') { %>
     
<% } else if (title == 'Update user') { %>

<%- include ('../user/update_user.ejs') %>
  
<% } else if (title == 'user Details') { %>
         
<%- include ('../user/user_detail.ejs') %>
<% } else if (title == 'user List') { %>
     <%- include ('../user/user_list.ejs') %>
     <% } else if (title == 'single user posts') { %>
     <%- include ('../user/user_post.ejs') %>
<% } else { %>
  
<% } %>
<!--user VIEW END HERE-->

<!--profile VIEW STARTS HERE-->

<!--complete logic for profile view-->
<% if (title == 'Create profile') { %>
 
 <%- include ('../profile/create_profile.ejs') %>
<% } else if (title == 'Delete profile') { %>
     
<% } else if (title == 'Update profile') { %>
  <%- include ('../profile/update_profile.ejs') %>
<% } else if (title == 'profile Details') { %>
         
 <%- include ('../profile/profile_detail.ejs') %>
<% } else if (title == 'profile List') { %>
      <%- include ('../profile/profile_list.ejs') %>
<% } else { %>
  
<% } %>

<!--profile VIEW END HERE-->

<!--department VIEW START HERE-->
<!--complete logic for department view-->
<% if (title == 'Create department') { %>

  <%- include ('../department/create_department.ejs') %>
<% } else if (title == 'Delete profile') { %>
     
<% } else if (title == 'Update department') { %>
    <%- include ('../department/update_department.ejs') %>
<% } else if (title == 'department Details') { %>
          <%- include ('../department/department_detail.ejs') %>
<% } else if (title == 'department List') { %>
      <%- include ('../department/department_list.ejs') %>
<% } else { %>
  
<% } %>
<!--department VIEW END HERE-->
<!--complete logic for role view-->
<% if (title == 'Create role') { %>
 
 <%- include ('../role/create_role.ejs') %>
<% } else if (title == 'Delete role') { %>
     
<% } else if (title == 'Update role') { %>
  <%- include ('../role/update_role.ejs') %>
<% } else if (title == 'role Details') { %>
         
 <%- include ('../role/role_detail.ejs') %>
<% } else if (title == 'role List') { %>
      <%- include ('../role/role_list.ejs') %>
<% } else { %>
  
<% } %>

<!--role VIEW END HERE-->

<!--do this for all the routes-->
<!--This is how you will dynamically change the content on the main page-->
<!--we already know that left and right side bar are mostly constant-->


