<!-- views/partials/footer.ejs -->
<center>
<p>The links below will be removed. It is a quick way to test all the CRUD routes</p>

<!-- POST LINKS -->

<!--router.get('/post/create', post_controller.post_create_get);-->
<a href="/hassan/post/create">post Create GET </a> | 

<!--router.post('/post/create', post_controller.post_create_post);-->
<a href="/hassan/post/create">post Create POST </a> | 

<!--router.get('/post/:post_id/delete', post_controller.post_delete_get);-->
<a href="/hassan/post/:post_id/delete">post Delete GET </a> | 

<!--router.post('/post/:post_id/delete', post_controller.post_delete_post);-->
<a href="/hassan/post/:post_id/delete">post Delete POST   </a> | 

<!--router.get('/post/:post_id/update', post_controller.post_update_get);-->
<a href="/hassan/post/:post_id/update">post Update GET </a> |

<!--router.post('/post/:post_id/update', post_controller.post_update_post);-->
<a href="/hassan/post/:post_id/update">post Update POST </a> |

<!--router.get('/post/:post_id', post_controller.post_detail);-->
<a href="/hassan/post/:post_id">post Detail One  </a> |

<!--router.get('/posts', post_controller.post_list);-->
<a href="/hassan/posts">post Detail All </a> 

<br/>

<!-- user LINK -->

<!--router.get('/user/create', user_controller.user_create_get);-->
<a href="/hassan/user/create">user Create GET </a> | 

<!--router.post('/user/create', user_controller.user_create_post);-->
<a href="/hassan/user/create">user Create POST </a> | 

<!--router.get('/user/:user_id/delete', user_controller.user_delete_get);-->
<a href="/hassan/user/:user_id/delete">user Delete GET </a> | 

<!--router.post('/user/:user_id/delete', user_controller.user_delete_post);-->
<a href="/hassan/user/:user_id/delete">user Delete POST   </a> | 

<!--router.get('/user/:user_id/update', user_controller.user_update_get);-->
<a href="/hassan/user/:user_id/update">user Update GET </a> |

<!--router.post('/user/:user_id/update', user_controller.user_update_post);-->
<a href="/hassan/user/:user_id/update">user Update POST </a> |

<!--router.get('/user/:user_id', user_controller.user_detail);-->
<a href="/hassan/user/:user_id">user Detail One  </a> |

<!--router.get('/users', user_controller.user_list);-->
<a href="/hassan/users">user Detail All </a> 

<br/>
<!-- profileS LINKS -->

<!--router.get('/profile/create', profile_controller.profile_create_get);-->
<a href="/hassan/profile/create">profile Create GET </a> | 

<!--router.post('/profile/create', profile_controller.profile_create_post);-->
<a href="/hassan/profile/create">profile Create POST </a> | 

<!--router.get('/profile/:profile_id/delete', profile_controller.profile_delete_get);-->
<a href="/hassan/profile/:profile_id/delete">profile Delete GET </a> | 

<!--router.post('/profile/:profile_id/delete', profile_controller.profile_delete_post);-->
<a href="/hassan/profile/:profile_id/delete">profile Delete POST   </a> | 

<!--router.get('/profile/:profile_id/update', profile_controller.profile_update_get);-->
<a href="/hassan/profile/:profile_id/update">profile Update GET </a> |

<!--router.post('/profile/:profile_id/update', profile_controller.profile_update_post);-->
<a href="/hassan/profile/:profile_id/update">profile Update POST </a> |

<!--router.get('/profile/:profile_id', profile_controller.profile_detail);-->
<a href="/hassan/profile/:profile_id">profile Detail One  </a> |

<!--router.get('/profiles', profile_controller.profile_list);-->
<a href="/hassan/profiles">profile Detail All </a> 

<br/>
<!-- department LINKS -->

<!--router.get('/department/create', department_controller.department_create_get);-->
<a href="/hassan/department/create">department Create GET </a> | 

<!--router.post('/department/create', department_controller.department_create_post);-->
<a href="/hassan/department/create">department Create POST </a> | 

<!--router.get('/department/:department_id/delete', department_controller.department_delete_get);-->
<a href="/hassan/department/:department_id/delete">department Delete GET </a> | 

<!--router.post('/department/:department_id/delete', department_controller.department_delete_post);-->
<a href="/hassan/department/:department_id/delete">department Delete POST   </a> | 

<!--router.get('/department/:department_id/update', department_controller.department_update_get);-->
<a href="/hassan/department/:department_id/update">department Update GET </a> |

<!--router.post('/department/:department_id/update', department_controller.department_update_post);-->
<a href="/hassan/department/:department_id/update">department Update POST </a> |

<!--router.get('/department/:department_id', department_controller.department_detail);-->
<a href="/hassan/department/:department_id">department Detail One  </a> |

<!--router.get('/departments', department_controller.department_list);-->
<a href="/hassan/departments">department Detail All </a> 

<br/>

<!--router.get('/role/create', role_controller.role_create_get);-->
<a href="/hassan/role/create">role Create GET </a> | 

<!--router.post('/role/create', role_controller.role_create_post);-->
<a href="/hassan/role/create">role Create POST </a> | 

<!--router.get('/role/:role_id/delete', role_controller.role_delete_get);-->
<a href="/hassan/role/:role_id/delete">role Delete GET </a> | 

<!--router.post('/role/:role_id/delete', role_controller.role_delete_post);-->
<a href="/hassan/role/:role_id/delete">role Delete POST   </a> | 

<!--router.get('/role/:role_id/update', role_controller.role_update_get);-->
<a href="/hassan/role/:role_id/update">role Update GET </a> |

<!--router.post('/role/:role_id/update', role_controller.role_update_post);-->
<a href="/hassan/role/:role_id/update">role Update POST </a> |

<!--router.get('/role/:role_id', role_controller.role_detail);-->
<a href="/hassan/role/:role_id">role Detail One  </a> |

<!--router.get('/roles', role_controller.role_list);-->
<a href="/hassan/roles">role Detail All </a> 


</center>
<br/>
<p class="text-center text-muted">© Copyright 2020 Manifest & Company Inc.</p>



 







 
