 <div class="col-sm-8">    
        <div class="jumbotron">
            
          
            <form action="" method="post">
              first_name:<br>
              <input type="text" name="firstName" value="first name">
              <br>
              last Name:<br>
              <input type="text" name="lastName" value="last name">
              <br><br>
              User Name:<br>
              <input type="text" name="username" value="user name">
              <br><br>
              password :<br>
              <input type="text" name="password" value="password">
              <br><br>
              email:<br>
              <input type="text" name="email" value="email@yahoo.com">
              <br><br>
              current_business:<br>
              <input type="text" name="current_business" value="trader">
              <br><br>
               permission:<br>
              <input type="text" name="permission" value="permission">
              <br><br>
             Profile:<br>
               <select name = "profile_id">
                    <% profiles.forEach(function(profile) { %>
                    <option value="<%= profile.id %>"><%= profile.profileName %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            
             Role:<br>
               <select name = "role_id">
                    <% roles.forEach(function(role) { %>
                    <option value="<%= role.id %>"><%= role.roleName %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            
             Department:<br>
               <select name = "department_id">
                    <% departments.forEach(function(department) { %>
                    <option value="<%= department.id %>"><%= department.departmentName %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>

              <input type="submit" value="create user">
            </form>
        </div>
    </div>