 <div class="col-sm-8">  
   
        <div class="jumbotron">
            <form action="/hassan/user/<%= user.id %>/update" method="post">
              first name:<br>
              <input type="text" name="firstName" value="<%= user.firstName %>">
              <br>
              last name:<br>
              <input type="text" name="lastName" value="<%= user.lastName %>">
              <br><br>
               user name:<br>
              <input type="text" name="username" value="<%= user.username %>">
              <br>
             password:<br>
              <input type="text" name="password" value="<%= user.password %>">
              <br><br>
               email:<br>
              <input type="text" name="email" value="<%= user.email %>">
              <br>
              <br><br>
              current_business:<br>
              <input type="text" name="current_business" value="<%= user.current_business %>">
              <br>
              <br><br>
              permission:<br>
              <input type="text" name="permission" value="<%= user.permission %>">
              <br>
              <br><br>
             
              <input type="submit" value="Update">
            </form>
        </div>
    </div>