 <div class="col-sm-8">  
 
 <% if(!user.id) { %>
     
     <p>user does not exist in DB</p>
 <% } %>
 
 <% if(user.Posts.length == 0) { %>
            <h2>There are no posts by this user yet </h2>
        <% } else { %>
            <h2>All posts by  user  <%= user.firstName %></h2>
            
            <div class="">
                <ol>
                <% user.Posts.forEach(function(post) { %>
                        <li>
                            <p> 
                                <a href="/blog/post/<%= post.id %>"><%= post.postTitle %></a>
                                 <br/>
                                <%= post.postBody %>
                                <br/> <a href="/blog/post/<%= post.id %>/update">Edit  post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete post</a>
                            </p>
                        </li>
                    <br/>
                <% }); %>
                </ol>
            </div>    
         <% } %>  
         </div>
