<div class="col-sm-8">    
        <div class="">
        <ol>
        <% users.forEach(function(user) { %>
        
                <li>
                    <h4><a href="/hassan/user/<%= user.id %>"><%= user.firstName %></a></h4>
                    
                     <a href="/hassan/user/<%= user.id %>/update">Edit  user</a> | <a href="/hassan/user/<%= user.id %>/delete">Delete user</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>