<div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single user</h1>
             <em><u><p>About user</p></u></em>
             <p>First Name: <%= user.firstName %></p>
             <p>Last Name:  <%= user.lastName %></p>
             <p>User Name:  <%= user.username %></p>
             <p>current Business:  <%= user.current_business %></p>
             <p>Permission :  <%= user.permission %></p>
             <p>Last Name:  <%= user.lastName %></p>
             <p>Email:  <%= user.email %></p>
             <p>Profile:  <%= user.Profile.profileName %></p>
             <p>Role:  <%= user.Role.roleName %></p>
             <p>Department:  <%= user.Department.departmentName %></p>
             
             <% if(user.Posts.length == 0) { %>
            <h2>There are no Posts by this user yet </h2>
        <% } else { %>
            <h2>All Posts by this user</h2>
            <div class="">
                <ol>
                <% user.Posts.forEach(function(Post) { %>
                        <li>
                            <p> 
                                <a href="/hassan/Post/<%= Post.id %>"><%= Post.postTitle %></a>
                                 <br/>
                                <%= Post.postBody %>
                                <br/> <a href="/hassan/Post/<%= Post.id %>/update">Edit  Post</a> | <a href="/hassan/Post/<%= Post.id %>/delete">Delete Post</a>
                            </p>
                        </li>
                    <br/>
                <% }); %>
                </ol>
            </div>    
         <% } %> 

             
             <a href="/hassan/user/<%= user.id %>/update">Edit  user</a> | <a href="/hassan/user/<%= user.id %>/delete">Delete user</a> 
        </div>
        
    </div>
     
    
