.bg-3 {
    background-color: #ffffff;
    color: #555555;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 7px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.active>a {
    color: #1abc9c !important;
    ;
}
