<div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
             role Name :<br>
              <input type="text" name="roleName" value="role Name">
              <br><br>
              
              <input type="submit" value="create role">
            </form>
        </div>
    </div>