<div class="col-sm-8">    
        <div class="">
        <ol>
        <% roles.forEach(function(role) { %>
                <li>
                    <h4><a href="/hassan/role/<%= role.id %>"><%= role.roleName %></a></h4>
                    
                     <a href="/hassan/role/<%= role.id %>/update">Edit  role</a> | <a href="/hassan/role/<%= role.id %>/delete">Delete role</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>