<div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single role</h1>
            
             <p><%= role.roleName %></p>
          
             <a href="/hassan/role/<%= role.id %>/update">Edit  role</a> | <a href="/hassan/role/<%= role.id %>/delete">Delete role</a> 
        </div>
    </div>