 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/hassan/role/<%= role.id %>/update" method="post">
              role name:<br>
              <input type="text" name="roleName" value="<%= role.roleName %>">
              <br>
              <br><br>
             
              <input type="submit" value="Update">
            </form>
        </div>
    </div>