<div class="jumbotron">
    <h1><%= title %></h1>
    <p>Total department in database is <%= departmentCount.count %></p>
    <p>Total roles in database is <%= roleCount.count %></p>
    <p>Total profile in database is <%= profileCount.count %></p>
    <p>Total posts in database is <%= postCount.count %></p>

</div>
