 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              post Title:<br>
              <input type="text" name="postTitle" value="post Title">
              <br>
              post Body:<br>
              <input type="text" name="postBody" value="post Body">
              <br><br>
          

             User:<br>
               <select name = "user_id">
                    <% users.forEach(function(user) { %>
                    <option value="<%= user.id %>"><%= user.firstName %></option>
                <br/>
               <% }); %>
                </select>
                <br>
                
                Department:<br>
               <select name = "department_id">
                    <% departments.forEach(function(department) { %>
                    <option value="<%= department.id %>"><%= department.departmentName %></option>
                <br/>
               <% }); %>
                </select>
                
                <br>
                   Profile:<br>
               <select name = "profile_id">
                    <% profiles.forEach(function(profile) { %>
                    <option value="<%= profile.id %>"><%= profile.profileName %></option>
                <br/>
               <% }); %>
                </select>

              <input type="submit" value="Submit">
            </form>
        </div>
    </div>