<div class="col-sm-8">    
        <div class="">
        <ol>
        <% posts.forEach(function(post) { %>
                <li>
                    <h4><a href="/hassan/post/<%= post.id %>"><%= post.postTitle %></a></h4>
                    <p> <%= post.postBody %></p>
                     <a href="/hassan/post/<%= post.id %>/update">Edit  post</a> | <a href="/hassan/post/<%= post.id %>/delete">Delete post</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>