<div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single post</h1>
             <p>I am an post for this ID = <%= post.id %></p>
             <p>post Title: <%= post.postTitle %></p>
             <p>post Body:  <%= post.postBody %></p>
             <p>Posted By user:  <%= post.User.firstName %></p>
           
             <br><br>
             
  
        </div>
    </div>