<div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/hassan/post/<%= post.id %>/update" method="post">
              post Title:<br>
              <input type="text" name="postTitle" value="<%= post.postTitle %>">
              <br>
              post Body:<br>
              <input type="text" name="postBody" value="<%= post.postBody %>">
              <br><br>
             
              
              <input type="submit" value="Update">
            </form>
        </div>
    </div>