 <div class="col-sm-8">  
 









<% posts.forEach(function(post) { %>

<h5>PROFILE ID <%= post.ProfileId  %></h5>
<h5>DEPARTMENT ID <%= post.DepartmentId  %></h5>
                        <li>
                            <p> 
                                <a href="/hassan/post/<%= post.id %>"><%= post.postTitle %></a>
                                
                                 <br/>
                                <%= post.postBody %>
                                <br/> <a href="/hassan/post/<%= post.id %>/update">Edit  post</a> | <a href="/hassan/post/<%= post.id %>/delete">Delete post</a>
                            </p>
                        </li>
                    <br/>
                <% }); %>
         </div>
