 <div class="col-sm-8">  
 









<% posts.forEach(function(post) { %>

<h2>Department ID <%= post.DepartmentId  %></h2>
                        <li>
                            <p> 
                                <a href="/hassan/post/<%= post.id %>"><%= post.postTitle %></a>
                                
                                 <br/>
                                <%= post.postBody %>
                                <br/> <a href="/hassan/post/<%= post.id %>/update">Edit  post</a> | <a href="/hassan/post/<%= post.id %>/delete">Delete post</a>
                            </p>
                        </li>
                    <br/>
                <% }); %>
         </div>
